@use "../../styles/variables" as v;  // ✅ Правильно// Header Base Styles


.hero{
    background: url('../../public/hero.jpg') no-repeat center center/cover;
    height: calc(100vh - 100px);
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    &__title{
        color: v.$white-color;
        font-size: 42px;
        font-weight: 700;
        line-height: 122%;
        text-align:center;
    }
    &__button{
        height: 60px;
        max-height: 237px;
        padding-left: 62px;
        padding-right: 62px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background: v.$primary-color;
        color: v.$white-color;
        font-family: Arial;
        font-size: 14.13px;
        font-weight: 900;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        border: none;
        transition: all 0.3s ease;
        &:hover{
            background: v.$secondary-color;
        }
    }
}

.about{
    background-color: v.$background-color;
    padding-top: 50px;
    padding-bottom: 50px;

    &__title{
        color:v.$text-color;
        font-size: 32px;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 10px;
    }
    

    &__container{
        display: flex;
        justify-content: space-between;
        gap: 35px;
    }

    &__image{
        img{
        width: 36vw;
        height: 35vw;
        max-width: 576px;
        max-height: 560px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            color: v.$text-color;
            font-size: 18px;
            font-weight: 400;
            line-height: 179%;
        }
    }

    &__link{
        padding-top: 20px;
        color: v.$secondary-color;
        transition: all 0.3s ease;
        &:hover{
            text-decoration: underline;
        }
    }
}


.section{
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        color: v.$text-color;
        font-size: 35px;
        font-weight: 700;
        line-height: 122%;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$secondary-color;
        font-size: 17px;
        font-weight: 500;
        line-height: 122%;
        box-sizing: border-box;
        border: 1px solid v.$secondary-color;
        border-radius: 22px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.news{
    padding-top: 50px;
    padding-bottom: 50px;
    &__blocks{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 45px;
        gap: 50px;
    }

    &__block{
        max-width: 363px;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 20px;
        list-style-type: none;
        img{
            border-radius: 20px 20px 0px 0px;
        }
        &_info{
            padding: 20px;
        }
        &_title{
            color: v.$text-color;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            margin-bottom: 10px;
        }
    }


}

.cats{
    padding-top: 50px;
    padding-bottom: 50px;
    &__container{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    &__block{
        box-sizing: border-box;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 20px;
        width: 260px;
        background: v.$white-color;
        img{
            border-radius: 20px 20px 0px 0px;
        }
        &_info{
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        &_title{
            text-align: center;
        }
        &_link{
                box-sizing: border-box;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 20px;

                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 30px;

                color: v.$primary-color;
                font-size: 14px;
                font-weight: 600;
                line-height:122%;
                text-align: center;
                text-transform: uppercase;

                transition: all 0.3s ease;
                
                &:hover{
                    background-color: v.$secondary-color;
                    color: v.$white-color;
                }
        }
    }
            &__description{
            color: v.$text-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 150%;
            text-align: center;
        }
}

.support{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(250, 245, 237);
    &__container{
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
    &__title{
        color: v.$text-color;
        font-size: 36px;
        font-weight: 900;
        line-height: 140%;
    }
    &__info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__img{
        img{
            border-radius: 20px;
        }
    }
    &__link{
        margin-top: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: flex;
        justify-content: center;
        max-width: 350px;
        border-radius: 20px;
        color: v.$white-color;
        background: v.$secondary-color;
        font-size: 14px;
        font-weight: 900;
        line-height: 122%;
    }
}

.happycats{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(250, 245, 237);
    &__title{
        color: v.$text-color;
        font-size: 64px;
        font-weight: 700;
        line-height: 158.33%;
        text-align: center;
            }
    &__text{
        color: v.$text-color;
        font-size: 24px;
        font-weight: 300;
        line-height: 158.33%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.page{
    &__title{
        color: v.$text-color;
        font-size: 56px;
        font-weight: 700;
        line-height: 122%;
        text-align: center;
    }
    &__info{
        margin-top: 30px;
        color: v.$text-color;
        font-size: 18px;
        font-weight: 300;
        line-height: 155%;
        text-align: center;
    }
}

.accordion{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(min-width:769px) and (max-width: 1600px) {
    .hero{
        &__title{
            font-size: 2.63vw;
        }
    }

    .section{
        &__title{
            font-size: 2.19vw;
        }
        &__link{
            font-size: 1.06vw;
            border-radius: 22px;
            padding-left: 2.14vw;
            padding-right: 2.14vw;
            padding-top: 0.86vw;
            padding-bottom: 0.86vw;
            transition: all 0.3s ease;
            &:hover{
                background-color: v.$secondary-color;
                color: v.$white-color;
            }
        }
    }

    .about{
        &__title{
            font-size: 2vw;
        }
        &__content{
            font-size: 1.13vw;
        }
        &__content{
            p{
                font-size: 1.13vw;
            }
    }
    }
    .support{
        &__title{
            font-size: 2.27vw;
        }
        &__blocks{
            gap: 3.57vw;
        }
        &__img{
            img{
                width: 32.86vw;
                height: 23.64vw;
            }
        }
    }

    .cats{
        &__description{
            font-size: 1.12vw;
        }
    }
}






@media(max-width:769px){
    .hero{
            height: calc(100vh - 80px);
            &__title{
                font-size:36px;
                text-align: center;
            }
        &__button{
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .about{
        &__container{
            flex-direction: column;
        }
            &__image{
                img{
                width: 100%;
                height: auto;
                }
            }
    }

    .news{
        &__blocks{
            grid-template-columns: 1fr;
        }
        &__block{
            margin: 0 auto;

        }
    }
        .cats{
        &__container{
            justify-content: center;
        }
    }
    .support{
        &__img{
            img{
                width:30vw;
                height: auto;
            }
        }
    }

    .page{
    &__title{
        font-size: 36px;
    }
    &__info{
        font-size: 14px;
    }
}

}

@media(max-width:540px){
    .support{
        &__img{
            img{
                width: 100%;
                height: auto;
            }
        }
        &__info{
            align-items: center;
        }
        &__link{
            padding-left: 10px;
            padding-right: 10px;
        }
        &__title{
            font-size: 28px;
            text-align: center;
        }
        &__container{
            flex-direction: column;
        }
    }

    .section{
        &__title{
            font-size: 28px;
        }
        &__link{
            padding: 10px;
        }
    }

    .about{
        &__title{
            font-size: 28px;
            text-align: center;
            margin-bottom: 50px;
        }
        &__link{
            text-align: center;
        }
    }

    .cats{
        &__block{
            width: 100%;
            display: flex;
            justify-content: center;
            &_link{
                max-width: 200px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    .news{
        &__blocks{
            grid-template-columns: 1fr;
        }
        &__block{
            margin: 0 auto;
                img{
                    width: 100%;
                    height: auto ;
                }
        }
    }


}