// Переменные (можно вынести в отдельный файл variables.scss)
$primary-color: #EBCEA2;
$secondary-color: #AF7044;
$white-color: #fff;
$text-color: #212121;
$container-width: 1400px;

.header {
  height:100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $primary-color;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.57vw;
    gap: 20px;
  }

  &__logoblock {
    display: flex;
    align-items: center;
    img{
      max-height: 67px;
    }
    
  }

  &__main{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__logoTitle {
    font-size: 1.14vw;
    font-weight: 700;
    color: $secondary-color;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__infoCont{
    display: flex;
    align-items: center;
    gap: 0.71vw;  
  }

  &__infoHelp{
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgb(175, 112, 68);

    font-size: 18px;
    font-weight: 700;
    line-height: 122%;
    letter-spacing: 0;
  }

  &__infoSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    input {
      border: none;
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding-top: 0.43vw;
      padding-bottom: 0.43vw;
      padding-left: 0.71vw;
      padding-right: 0.71vw;
      font-size: 1.07vw;
      color: rgb(154, 154, 154);
      font-weight: 400;
      line-height: 122%;
    }

    a {
      color: $text-color;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.57vw;
      font-weight: 500;
      line-height: 122%;
      letter-spacing: 0;
      transition: 0.5s all;
      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      gap: 0.71vw;
      list-style: none;
      padding: 0;

      li a {
        color: rgb(255, 255, 255);
        font-family: $white-color;
        font-size: 1.29vw;
        font-weight: 700;
        line-height: 122%;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s all;

        &:hover {
          color: $secondary-color
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .header {
    &__container {
      padding: 0 120px;
    }
    &__logoTitle{
      font-size: 16px;
    }
    &__infoCont{
      gap: 10px; 
    }
    &__infoSearch{
      a{
        font-size: 22px;
      }
      input{
          border-radius: 4px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 15px;
      }
    }
      &__infoHelp{
            border-radius: 5px;
            padding-left: 0.93vw;
            padding-right: 0.93vw;
            padding-top: 0.29vw;
            padding-bottom: 0.29vw;
      }
    &__menu{
      ul{
        gap: 10px;
        li{
          a{
            font-size: 18px;
          }
        }
      }
    }
  }
}