// Color Variables (SCSS)
$primary-color: #EBCEA2;
$secondary-color: #AF7044;
$white-color: #fff;
$text-color: #212121;

// Layout Variables
$container-width: 1400px;

$background-color: rgb(250, 245, 237);